<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true"
          name="C:/Users/vinay/IdeaProjects/TestingProject/src/test/java/org/example/AppTest.java">
            <parameter name="browser" value="chrome"></parameter>
            <parameter name="url" value="https://github.com/login"></parameter>
            <classes>
                <class name="org.example.AppTest">
                    <methods><include name="getitemfrompage"/></methods>
                </class>
            </classes>
    </test>
    <test verbose="2" preserve-order="true"
          name="test2">
        <parameter name="browser" value="firefox"></parameter>
        <parameter name="url" value="https://github.com/login"></parameter>
        <classes>
            <class name="org.example.AppTest">
                <methods><include name="getitemfrompage"/></methods>
            </class>
        </classes>
    </test>

</suite>